<h2>Por Capital</h2>

<div class="row">
    <div class="col">

        <app-pais-input (onEnter)="buscar( $event )" placeholder="Buscar Capital"></app-pais-input>

    </div>
</div>

<hr>



<div *ngIf="hayError" class="alert alert-danger">No se encontro nada con el termino: {{termino}} </div>



<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-table [paises]="paises"></app-pais-table>

    </div>
</div>