<h2>Por Pais</h2>

<div class="row">
    <div class="col">

        <app-pais-input (onEnter)="buscar( $event )"(onDebounce)="sugerencias($event)" placeholder="Buscar País"></app-pais-input>

    </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let paisSugerido of paisesSugeridos">
        <a [routerLink]="['/pais', paisSugerido.cca2]" class="nav-link">
            {{paisSugerido.name.common}}
        </a>
    </li>

    <li class="list-group-item list-group-item-action" (click)="buscarSugeridos(termino)">
        <a class="nav-link">
            Buscar "{{termino}}"
        </a>
    </li>

</ul>

<hr>

<div *ngIf="hayError" class="alert alert-danger">No se encontro nada con el termino: {{termino}} </div>



<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-table [paises]="paises"></app-pais-table>

    </div>
</div>