<div class="row container mt-4">

    <div class="col-3">

        <app-sidebar></app-sidebar>
        <!-- <h2>Busquedas</h2>
        <hr>

        <ul class="list-group">
            <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Buscar Pais</li>
            <li class="list-group-item" routerLink="region" routerLinkActive="active">Por region</li>
            <li class="list-group-item" routerLink="capital" routerLinkActive="active">Por capital</li>
        </ul> -->

    </div>

    <div class="col">
        <router-outlet></router-outlet>
    </div>
    
</div>