<h2>Busquedas</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Buscar Pais</li>
    <li class="list-group-item" routerLink="region" routerLinkActive="active">Por region</li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active">Por capital</li>
</ul>