<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small> {{pais.name.common}} </small></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.png" alt="bandera" class="img-thumbnail">
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población </strong>{{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Zona horario </strong>{{pais.timezones}}
                </li>
                <li class="list-group-item">
                    <strong>Codigo alpha3 </strong>{{pais.cca3}}
                </li>
            </ul>
        </div>

        <div>Traducciones</div>
        <div class="row">
            <div class="col">

                <span *ngFor="let t of pais.translations|keyvalue" class="badge bg-primary mr-1">{{t.value.official}}</span>

            </div>
        </div>


    </div>

</ng-template>