<div class="animate__animated animate__fadeIn animate__faster">

    <form autocomplete="off" (ngSubmit)="buscar()">

        <input type="text" name="termino" [placeholder]="placeholder" class="form-control" [(ngModel)]="termino"
            (input)="teclaPresionada()">

    </form>

</div>